.morphic__blog {
    display: flex;
    flex-direction: column;    
}

.morphic__blog-heading {
    width: 100%;
    text-align: left;
    display: flex;

    margin-bottom: 5rem;
}

.morphic__blog-heading h1 {
    font-size: 62px;
    line-height: 75px;
    font-family: var(--font-family);
    font-weight: 800;
}

.morphic__blog-container {
    display: flex;
    flex-direction: row;
    max-width: 100rem;
}

.morphic__blog-container_groupA {
    flex: 0.5;
    margin-right: 2rem;
}

.morphic__blog-container_groupB {
    flex: 1;

    display:grid;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-columns: repeat(2, 2fr);
    gap: 2rem;
}

.morphic__blog-container_article:first-child {
    /* grid-column: span 2; */
    grid-column: span 1;
}

.blog-sidebar {
    color: white;
    border-top: thin solid gray;
    height: 24rem;
    overflow-y: auto;
}

.sidebar-article {
    height: 6rem;
    display: flex;
    padding: 0.5rem 0 0.5rem 0;
    border-bottom: thin solid gray;
}
.sidebar-article img {
    width: 20%;
    height: auto;
    object-fit: cover;
}
.article-info {
    padding: 1rem 0 1rem 1rem;
    width: 80%;
}

.article-info h1 {
    font-size: 0.9rem;
}

.article-info a:hover {
    color: var(--color-text);
}

@media screen and (max-width: 990px) {
    .morphic__blog-container {
        flex-direction: column-reverse;
    }

    .morphic__blog-container_groupA {
        margin: 2rem 0;
    }

    .morphic__blog-container_groupB {
        grid-template-columns: repeat(1, 1fr);
    }

    .morphic__blog-container_groupA .morphic__blog-container_article  {
       width: 48%;
    }

    .morphic__blog-container_groupA .morphic__blog-container_article-image {
        height: 250px;
    }
}

@media screen and (max-width: 700px) {
    .morphic__blog-container_groupB {
        grid-template-columns: repeat(1, 1fr);
    }

    .morphic__blog-container_article:first-child {
        grid-column: auto;
    }

    .morphic__blog-container_groupA .morphic__blog-container_article  {
       width: 100%;
    }

    .morphic__blog-heading h1 {
        font-size: 46px;
        line-height: 52px;
    }
}

@media screen and (max-width: 550px) {
    .morphic__blog-container_article {
        display: none;
    }

    .morphic__blog-heading h1 {
        font-size: 34px;
        line-height: 42px;
    }
    .blog-sidebar {
        color: white;
        border-top: thin solid gray;
        height: 100%;
        overflow-y: initial;
    }
    
    .sidebar-article {
        height: auto;
        display: flex;
        padding: 1rem 0 1rem 0;
        border-bottom: thin solid gray;
    }
    .sidebar-article img {
        padding: 0;
        width: 30%;
        object-fit: cover;
    }
    .article-info {
        padding: 0.5rem 0 0.5rem 1rem;
        width: 70%;
    }
    
    .article-info h1 {
        font-size: 1rem;
        font-weight: 500;
    }
    
    .selected-article {
        background-color: var(--color-footer);
    }
}