.morphic__map-container {
    overflow-x: scroll;
}

.morphic__map-container img {
    width: 1247px;
    /* width: 100%; */
    height: auto;
}

.morphic__map-contianer area {
    background-color: blue;
}

.morphic__map-description {
    background-color: #031B34;
    color: white;
}
.morphic__map-description .dpc-badge {
    color: #4F79A9;
    background-color: #4F79A9;
    color: white;
    border: thin solid #4F79A9;
    border-radius: 4px;
    padding: 0 0.4rem;
}
.morphic__map-description .dracc-badge {
    color: #F28E2C;
    background-color: #F28E2C;
    color: white;
    border: thin solid #F28E2C;
    border-radius: 4px;
    padding: 0 0.4rem;
}
.morphic__map-description .dav-badge {
    color: #A34C7B;
    background-color: #A34C7B;
    color: white;
    border: thin solid #A34C7B;
    border-radius: 4px;
    padding: 0 0.4rem;
}
.lab-overview {
    padding: 1rem 1.5rem;
}

.morphic__map-description h4, .morphic__map-description h3 {
    padding-top: 1rem;
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.04em;
}

.morphic__map-description p, .morphic__map-description a {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: var(--color-text);
}

.morphic__map-description p, .morphic__map-description a {
    padding: 0.5rem;
}

.lab-links {
    list-style-type: none;
}

.lab-links li {
    padding-top: 0.5rem;
}

area {
    /* The second value here is a fallback. */
    cursor: url(hand-index-thumb.svg), auto;
    display: block;
}

@media (min-width: 1200px)
{
    .lab-overview_container {
        display: flex;
        flex-wrap: wrap;
    }
    .lab-overview {
        width: 50%;
    }
}